"id","sensorid","devicetype","jsondata","status","processing_errors","createdate","processdate"
1,"6012002000241","env","[{""values"": [{""time"": 1702273965, ""value"": 23.8}], ""variable"": {""id"": 0, ""name"": ""Temperature"", ""unit"": ""°C"", ""source"": 0, ""structure"": 0}}, {""values"": [{""time"": 1702273965, ""value"": 603}], ""variable"": {""id"": 0, ""name"": ""Carbon dioxide"", ""unit"": ""ppm"", ""source"": 0, ""structure"": 0}}]","Processed","","2024-02-29 03:11:58.210358+11","2024-02-29 03:11:58.210358+11"
2,"6012002000326","env","[{""values"": [{""time"": 1718300744, ""value"": 17, ""errorCode"": 8}], ""variable"": {""id"": 0, ""name"": ""Formaldehyde"", ""unit"": ""µg/m3"", ""source"": 0, ""structure"": 0}}, {""values"": [{""time"": 1718300744}], ""variable"": {""id"": 0, ""name"": ""Humidity"", ""unit"": ""HR%"", ""source"": 0, ""structure"": 0}}]","Processed","","2024-06-14 03:46:00.000000+10","2024-06-14 03:46:00.000000+10"
3,"6012002000326","env","[{""values"": [], ""variable"": {""id"": 0, ""name"": ""Pressure"", ""unit"": ""mb"", ""source"": 0, ""structure"": 0}}]","Processed","","2024-06-14 04:00:00.000000+10","2024-06-14 04:00:00.000000+10"
